<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Resource Portal</title>
    <link rel="icon" href="/assets/website-logo.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-canvas">
        <div class="main-header">
            <div class="main-header top">
                <div class="header-logo">
                    <img src="/assets/website-logo.png">
                </div>
                <div class="header-module-name">
                    Human Resource
                </div>
            </div>
            <div class="main-header bottom">
                <div class="header-home">
                    <a href="">Home</a>
                </div>
                <div class="header-account">
                    <div class="header-account-name">
                        Account Name
                    </div>
                    <div class="header-account-picture">
                        <img src="/assets/account-default-profile-picture.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="section-header">
                View Employee
            </div>
            <div class="section-canvas">
                <div class="employee-main-info">
                    <div class="employee-image">
                        <img src="/assets/employee-default-icon-male.png">
                    </div>
                    <div class="employee-basic">
                        <div class="employee-basic-row">
                            Name: 
                        </div>
                        <div class="employee-basic-row">
                            Department: 
                        </div>
                        <div class="employee-basic-row">
                            Job title: 
                        </div>
                        <div class="employee-basic-row">
                            Contact: 
                        </div>
                    </div>
                </div>
                <hr>
                <div class="employee-sub-info">
                    <div class="employee-sub-info-column">
                        <div class="employee-sub-info-row">
                            Name:
                        </div>
                        <div class="employee-sub-info-row">
                            Age:
                        </div>
                        <div class="employee-sub-info-row">
                            Birthdate:
                        </div>
                        <div class="employee-sub-info-row">
                            Sex:
                        </div>
                        <div class="employee-sub-info-row">
                            Address:
                        </div>
                        <div class="employee-sub-info-row">
                            Marital Status:
                        </div>
                        <div class="employee-sub-info-row">
                            Nationality:
                        </div>
                        <div class="employee-sub-info-row">
                            Blood Group:
                        </div>
                    </div>
                    <div class="employee-sub-info-column">
                        <div class="employee-sub-info-row">
                            Contact number:
                        </div>
                        <div class="employee-sub-info-row">
                            Email address:
                        </div>
                        <div class="employee-sub-info-row">
                            Address for correspondence:
                        </div>
                        <div class="employee-sub-info-row">
                            Emergency email address:
                        </div>
                        <div class="employee-sub-info-row">
                            Emergency contact number:
                        </div>
                        <div class="employee-sub-info-row">
                            Emergency contact person:
                        </div>
                    </div>
                    <div class="employee-sub-info-column">
                        <div class="employee-sub-info-row">
                            Employee Identification code:
                        </div>
                        <div class="employee-sub-info-row">
                            Employment type:
                        </div>
                        <div class="employee-sub-info-row">
                            Date of joining:
                        </div>
                        <div class="employee-sub-info-row">
                            Work week:
                        </div>
                    </div>
                </div>
                <div class="employee-buttons">
                    <button type="submit">Edit</button>
                    <button type="submit">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>