html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main-canvas {
    background-image: url('/assets/website-background.png');
    background-position: center; /* zoom to center when necessary */
    background-size: cover;  /* cover entire screen */
    background-repeat: no-repeat; /* don't repeat */
    height: 100%;
}

.main-header.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7%;
}

.header-logo {
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

.header-logo img {
    height: 54px;
    margin: auto 0;
}

.header-module-name {
    font-family: 'Aileron';
    font-size: 160%;
    font-weight: bold;
    color: #3d748e;
}

.main-header.bottom {
    background-color: #3d748e;
    font-family: 'Open Sans';
    font-weight: bold;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.header-home {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header-home a {
    color: white;
}

.header-home a:link {
    text-decoration: none;
}

.header-home a:visited {
    text-decoration: none;
}

.header-home a:hover {
    text-decoration: underline;
}

.header-account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    gap: 7%;
}

.header-account-picture {
    text-align: right;
    width: 20%;
}

.header-account-picture img {
    width: 100%;
    display: inline;
    vertical-align: middle;
}

.main-content {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.mini-header {
    background-color: #3d748e;
    color: white;
    text-align: center;
    font-size: x-large;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 60%;
}

.searchbox {
    background-color: #3d748e;
    color: white;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5%;
    gap: 1%;
}

.searchbox-textbox {
    width: 100%;
}

.search-textbox input[type=text] {
    border: 0px solid #e1f0f6;
    background-color: #e1f0f6;
    height: 100%;
    width: 100%;
    padding: 2% 4%;
    font-size: 100%;
}

.search-button {
    width: 10%;
}

.search-button button {
    border: 0px solid #a8b3b6;
    background-color: #a8b3b6;
    color: #3d748e;
    font-size: 105%;
    height: 100%;
    width: 100%;
}

.report-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5%;
    height: 100%;
}

.table-row {
    display: flex;
    flex-direction: row;
    gap: 0.5%;
    height: 1.75em;
}

.column {
    text-align: center;
    padding: 0.25% 0;
}

.patient-id {
    width: 20%;
}

.patient-name {
    width: 75%;
}

.file {
    width: 5%;
}

.file a {
    text-decoration: none;
    color: #3d748e;
}

.file a:hover {
    text-decoration: underline;
}

.marine {
    background-color: #3d748e;
    color: white;
}

.white {
    background-color: #e4f1f7;
    color: #3d748e;
}

.cyan {
    background-color: #a2d2e8;
    color: #3d748e;
}

.align-left {
    text-align: left;
    padding-left: 1%;
}

.action-buttons {
    width: 60%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.action-goback {
    width: 12%;
}

.action-goback a {
    display: block;
    background-color: #3d748e;
    color: white;
    text-align: center;
    padding: 7% 0;
}

.action-goback a:link {
    text-decoration: none;
}

.action-goback a:hover {
    background-color: white;
    color: #3d748e;
}

.patient-chooser {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.patient-table {
    width: 75%;
}

.doctors-list {
    width: 25%;
}

.namebox {
    background-color: #6a93a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6%;
    height: 40%;
    margin-top: 4.5%;
    margin-right: 4.5%;
}

.filter-button {
    width: 70%;
}

.filter-button button {
    border: 0px solid #f0f4f6;
    background-color: #f0f4f6;
    color: gray;
    font-size: large;
    width: 100%;
    padding: 6%;
}