/* Testing!

* {
    background-color: #ffff00;
}

.test-class {
    background-color: #ffff00;
}

*/

/* Use full window height */
html, body {
    height: 100%;
}

/* For sane size computation */
* {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

.page-body {
    background-color: white;
    width: 72%;
    margin-left: 4%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

.page-body-header {
    background-color: white;
}

.page-body-header-image img {
    width: 100%;
}

.page-body-header-text {
    font-family: Questrial;
    font-weight: bold;
    font-size: 250%;
    color: #01213c;
}

.page-body-header hr {
    border-width: 3px;
    border-style: solid;
    border-color: #bf9751;
    margin-top: 12px;
    margin-bottom: 12px;
}

.page-body-content {
    font-family: Open Sans;
    display: flex;
}

.page-body-content-left {
    flex: 1%;
    padding: 1%;

}

.page-body-content-right {
    flex: 58%;
    padding: 1%;
}

.page-body-content-tabpane.html5 {
    display: block;
}

.page-body-content-tabpane.jscript {
    display: none;
}

.page-body-content-tabpane ul {
    list-style-type: none;
}

.page-body-content-tabpane ul li {
    height: 50px;
}

.page-body-content-tab {
    margin-bottom: 5%;
}

.page-body-content-tab.active {
    display: block;
}

.page-body-content-tab.inactive {
    display: none;
}

.page-body-content-tabtitle {
    font-family: Questrial;
    font-weight: bold;
    font-size: large;
    margin-bottom: 4px;
    margin-top: 8px;
}

.page-body-content-tabtext ul {
    padding-left: 22px;
}

.page-body-content-tabtext ul li {
    margin-bottom: 4px;
}

.tab-buttons {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    display: flex; /* CSS3 only */
    align-items: center; /* vertical align */
    min-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    padding-left:16px;
    background-color: white;
    color: #111;
}

.tab-buttons.active {
    background-color: #f0f0f0;
}

.tab-buttons:hover {
    background-color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

/* Glyph, by Harry Roberts */
.page-body-content-tab-sep {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.page-body-content-tab-sep:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}