html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main-canvas {
    background-image: url('/assets/website-background.png');
    background-position: center; /* zoom to center when necessary */
    background-size: cover;  /* cover entire screen */
    background-repeat: no-repeat; /* don't repeat */
}

.main-header.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7%;
}

.header-logo {
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

.header-logo img {
    height: 54px;
    margin: auto 0;
}

.header-module-name {
    font-family: 'Aileron';
    font-size: 160%;
    font-weight: bold;
    color: #3d748e;
}

.main-header.bottom {
    background-color: #3d748e;
    font-family: 'Open Sans';
    font-weight: bold;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.header-home {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header-home a {
    color: white;
}

.header-home a:link {
    text-decoration: none;
}

.header-home a:visited {
    text-decoration: none;
}

.header-home a:hover {
    text-decoration: underline;
}

.header-account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    gap: 7%;
}

.header-account-picture {
    text-align: right;
    width: 20%;
}

.header-account-picture img {
    width: 100%;
    display: inline;
    vertical-align: middle;
}

.main-content {
    width: 100%;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-header {
    background-color: #3d748e;
    color: white;
    text-align: center;
    font-size: x-large;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 0.75%;
    font-weight: bold;
    text-transform: uppercase;
}

.action-buttons {
    width: 60%;
    margin: 2% 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

.action-goback {
    width: 12%;
}

.action-goback a {
    display: block;
    background-color: #3d748e;
    color: white;
    text-align: center;
    padding: 7% 0;
}

.action-goback a:link {
    text-decoration: none;
}

.action-goback a:hover {
    background-color: white;
    color: #3d748e;
}

.content.top, .content.bottom {
    width: 70%;
}

.content.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content.bottom {
    margin-top: 1.5%;
}

.infobox.left {
    background-color: #c6e3f1;
    width: 30%;
    padding: 0.5%;
}

.infobox-title {
    font-weight: bold;
    font-size: 90%;
    padding: 1% 3%; 
}

.infobox-row {
    font-size: small;
    margin-top: 2%;
    padding: 1% 3%;
}

.marine {
    background-color: #3d748e;
    color: white;
}

.white {
    background-color: white;
    color: #3d748e;
}

.cyan {
    background-color: #c6e3f1;
    color: #3d748e;
}

.bwhite {
    background-color: white;
    color: black;
}

.infobox.right {
    width: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 10em;
}

.infobox-total {
    margin-top: auto;
    font-size: small;
    padding: 1%;
}

.infobox-total hr {
    color: #d9d9d9;
    margin: 0;
}

.infobox-captitle {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1% 0;
    text-align: center;
}

.table-row {
    display: flex;
    flex-direction: row;
    gap: 0.25%;
    height: 1.75em;
}

.table-data {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0.25% 0;
}

.date {
    width: 15%;
}

.invoice-no {
    width: 15%;
}

.med-desc {
    width: 55%;
}

.charge {
    width: 15%;
}