*
{
	padding: 0;
	margin: 0;
	font-family: open sans;
}
.upper-bar
{
	position: relative;
	width: 100%;
	background: #01213c;
	height: 98px;
	padding:13.5px;

}
.nav-logo {
	float: left;
	width: 72px;
	height: 74px;
	/*display: inline-block; */
}

.school-name
{
	float: left;
	margin-top: 15px;
	padding-left: 20px;
	font-size: 35px;
	letter-spacing: 5px;
	color: #bf9751;
	font-family: Graduate;
}
.lower-bar
{
	position: relative;
	width: 100%;
	background-color: white;
	height: 35px;
}

.lower-bar-left
{
	position: absolute;
	width: 500px;
	height: 100%;
	
	margin-left: 80px;
}
.lower-bar-left ul
{
	padding: 0;
	list-style: none;
	margin: 0;
	text-decoration: none;
}
.lower-bar-left ul li
{
	display: inline-block;
	text-align: center;
	padding: 8px 2px 2px 2px;
	margin-left: 10px;
	
}
.lower-bar-left ul li a
{
	text-decoration: none;
	color: #01213c;
	font-family: Questrial;
	transition: 0.4s;
	
}
.lower-bar-right
{
	position: relative;
	width: 250px;
	height: 100%;
	
	float: right;
	margin-right: 40px;

}
.lower-bar-right ul
{
	padding: 0;
	list-style: none;
	margin: 0;
	text-decoration: none;
}
.lower-bar-right ul li
{
	display: inline-block;
	text-align: center;
	padding: 8px 2px 2px 2px;
	margin-left: 10px;
	
}
.lower-bar-right  a
{
	text-decoration: none;
	color: #01213c;
	font-family: Questrial;
	transition: 0.4s;

	
}
.lower-bar a:hover
{
	color: #bf9751;
}
.lower-bar hr
{
	border: none;
	width: 0%;
	height: 2px;
	background-color: black;
	transition: 0.5s;
}
.lower-bar a:hover hr
{
	
	width: 100%;
	
}