html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main-canvas {
    background-image: url('/assets/website-background.png');
    background-position: center; /* zoom to center when necessary */
    background-size: cover;  /* cover entire screen */
    background-repeat: no-repeat; /* don't repeat */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.main-header.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7%;
}

.header-logo {
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

.header-logo img {
    height: 54px;
    margin: auto 0;
}

.header-module-name {
    font-family: 'Aileron';
    font-size: 160%;
    font-weight: bold;
    color: #3d748e;
}

.main-header.bottom {
    background-color: #3d748e;
    font-family: 'Open Sans';
    font-weight: bold;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.header-home {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header-home a {
    color: white;
}

.header-home a:link {
    text-decoration: none;
}

.header-home a:visited {
    text-decoration: none;
}

.header-home a:hover {
    text-decoration: underline;
}

.header-account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    gap: 7%;
}

.header-account-picture {
    text-align: right;
    width: 20%;
}

.header-account-picture img {
    width: 100%;
    display: inline;
    vertical-align: middle;
}

.mini-header {
    background-color: #3d748e;
    color: white;
    text-align: center;
    font-size: x-large;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 80%;
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1%;
}

.report-section {
    width: 75%;
    gap: 1%;
    padding: 1%;
    font-family: 'Open Sans';
    margin-top: 1%;
}

.report-section hr {
    margin: 0;
    color: #3d748e;
    height: 1px;
}

.report-section {
    background-color: rgba(255, 255, 255, 0.6);
}

.column.left {
    width: 25%;
}

.column-left-canvas {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.section-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3d748e;
    color: white;
    padding: 1% 2%;
}

.section-entry {
    background-color: white;
    font-size: 85%;
    padding: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.section-label {
    background-color: #f0f1f1;
    padding: 2%;
    margin: 2% 0;
    font-size: 90%;
}



.top-row {
    margin-top: 0;
}

.section-labels {
    width: 80%;
}

.section-image {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-image img {
    width: 100%;
}

.entry-row {
    background-color: rgba(240, 241, 241, 0.6);
    font-size: 90%;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.entry-info-cols {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.entry-col.left {
    width: 30%;
}

.entry-col.middle {
    width: 30%;
}

.entry-col.right {
    width: 36%;
}

.entry-col.actions {
    width: 4%;
    height: 100%;
}

.action-buttons {
    width: 70%;
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;
    margin: 2% 0;
    display: flex;
    justify-content: center;
}

.action-button button {
    border: none;
    width: 100%;
    padding: 10% 5%;
    margin-bottom: 5%;
    height: 36px;
    font-size: large;
    color: grey;
}

.action-goback {
    width: 12%;
}

.action-goback a {
    display: block;
    background-color: #3d748e;
    color: white;
    text-align: center;
    padding: 7% 0;
    width: 100%;
}

.action-goback a:link {
    text-decoration: none;
}

.action-goback a:hover {
    background-color: white;
    color: #3d748e;
}

.filterbar {
    width: 75%;
    background-color: #3d748e;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    padding: 0.5%;
    margin-top: 1%;
}

.filterby-label {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.filterby-input {
    width: 20%;
    margin-left: 1%;
}

.filterby-input input[type=text] {
    width: 100%;
    background-color: #f0f1f1;
    padding: 2%;
    font-size: 105%;
}