<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse Portal</title>
    <link rel="icon" href="/assets/website-logo.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-canvas">
        <div class="main-header">
            <div class="main-header top">
                <div class="header-logo">
                    <img src="/assets/website-logo.png">
                </div>
                <div class="header-module-name">
                    Nurse
                </div>
            </div>
            <div class="main-header bottom">
                <div class="header-home">
                    <a href="">Home</a>
                </div>
                <div class="header-account">
                    <div class="header-account-name">
                        Account Name
                    </div>
                    <div class="header-account-picture">
                        <img src="/assets/account-default-profile-picture.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        
        <div class="main-form">
            
            <div class="info-section">
                <div class="column basic-info">
                    <div class="image-layer">
                        <div class="image-outer-layer">
                            <div class="image-inner-layer">

                            </div>
                        </div>
                    </div>
                    <div class="info-layer">
                        <div class="info-row marine big-row top-row">
                            Room number:
                        </div>
                        <div class="info-row marine big-row">
                            Doctor's name(s):
                        </div>
                        <div class="info-row marine big-row">
                            Patient ID:
                        </div>
                        <div class="info-row grey">
                            Patient's name:
                        </div>
                        <div class="info-row white">
                            Sex:
                        </div>
                        <div class="info-row grey">
                            Address:
                        </div>
                        <div class="info-row white">
                            Contact number:
                        </div>
                        <div class="info-row grey">
                            Email:
                        </div>
                    </div>
                </div>
                
                <div class="column medical-records">
                    <div class="cards">
                        <div class="card">
                            <div class="card-title">
                                Prescription
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actions">
                                <div class="action-add-entry">
                                    <button type="submit">+</button>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-title">
                                Diagnosis
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actions">
                                <div class="action-add-entry">
                                    <button type="submit">+</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-title">
                                Medical History
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-entry">
                                <div class="entry-rows">
                                    <div class="entry-row">
                                        Medicine
                                    </div>
                                    <div class="entry-row">
                                        Schedule of Intake
                                    </div>
                                    <div class="entry-row">
                                        Date
                                    </div>
                                </div>
                                <div class="entry-buttons">
                                    <div class="entry-edit">
                                        <button type="submit">✎</button>
                                    </div>
                                    <div class="entry-delete">
                                        <button type="submit">✕</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-actions">
                                <div class="action-add-entry">
                                    <button type="submit">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="action-buttons">
            <div class="action-goback">
                <a href="/nurse/medicalrecords/">Back</a>
            </div>
        </div>

    </div>
</body>
</html>